
  <body id="skrollr-body">
    <div class="top">
        <div class="name">Yutaro Akasaka</div>
        <div class="lead">PORTFOLIO</div>
    </div>
    <div class="work">
      <h2 id="work">制作実績</h2>
      <div class="swiper-container">
        <ul class="slider">
          <li><a href="https://gentle-mesa-22233.herokuapp.com/"><h2 class="app">Reviewアプリ</h2><img src="assets/review.jpg" alt="image03"></a></li>
          <li><a href="http://3.115.130.0/"><h2 class="app">FURIMAアプリ</h2><img src="assets/furima.jpg" alt="image01"></a></li>
          <li><a href="#"><h2 class="app">ChatSpace</h2><img src="assets/chat-space.png" alt="image02"></a></li>
          
        </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="profile" data-0="opacity:0;" data-bottom-top="transform:translateX(-200px);" data-center-center="transform:translateX(0px); opacity:1;">
        <div class="flex">
            <div class="profile_img"><img src="assets/my.png"></div>
            <div class="profile_txt">
              <h2>プロフィール</h2>
              <p>名前：赤坂祐太朗<br>
                出身地：佐賀県<br>
                趣味：映画鑑賞・カラオケ・スポーツ・漫画<br>
                経歴：佐賀県立有田工業高校電気科卒業後、株式会社東海理化電機製作所で自動車の内装部品の製造工場で働いていました。工場で働いていて主にライン作業や運搬の仕事をしていました。<br>
              </p>
            </div>
        </div>
    </div>
    <div class="skill" data-0="opacity:0;" data-bottom-top="transform:translateX(200px);" data-center-center="transform:translateX(0px); opacity:1;">
        <h2>スキル</h2>
        <table>
            <tr>
                <th>HTML・CSS</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>Haml・SCSS</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>Ruby</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>Ruby on Rails</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>JavaScript</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>jQuery</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>SQL</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
            </tr>
            <tr>
                <th>Git・ GitHub</th>
                <td><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></td>
            </tr>
        </table>
    </div>
    <div class="contact" data-0="opacity:0;" data-bottom-top="transform:scale(0) rotate(0deg);" data-center-center="transform:scale(1) rotate(360deg); opacity:1;">
        <h2>お問い合わせ</h2>
        <a href="mailto:yasaka0407@gmail.com"><div class="mail"><i class="far fa-envelope"></i> メール</div></a>
        <a href="https://twitter.com/akasaka04070000"><div class="twitter"><i class="fab fa-twitter"></i> twitter</div></a>
    </div>

  </body>
</html>